extends ../../components/section/section_fast

block content
    .eight
        .eight__in
            .eight__text(data-text="How we do it<br /><br />Years of professional experience have given us an access to every single distributor on the market. Asking us clients ask the whole market.<br /><br />We are distinctive gateway to all market opportunities") How we do it<br /><br />Years of professional experience have given us an access to every single distributor on the market. Asking us clients ask the whole market.<br /><br />We are distinctive gateway to all market opportunities