.animation 
    .animation__in#background
.mobile-arrows
    .mobile-arrows__item.mobile-arrows__item--up
        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="25" viewBox="0 0 11 25">
            <path d="M5.5 25L5.5 2M5.5 2L1 6.40426M5.5 2L10 6.40426" stroke-width="2"/>
        </svg>
    .mobile-arrows__item.mobile-arrows__item--down
        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="25" viewBox="0 0 11 25">
            <path d="M5.5 25L5.5 2M5.5 2L1 6.40426M5.5 2L10 6.40426" stroke-width="2"/>
        </svg>
.counter
    .counter__current 1
    .counter__delim /
    .counter__lenght 9