extends ../../components/section/section

block content
    .seventh
        .seventh__in
            .seventh__shield(data-text="Job we do #3<br /><br />Give clients access to the best shipping options and top products on the market")
                .seventh__shield-in Job we do #3<br /><br />Give clients access to the best shipping options and top products on the market