extends ../../components/section/section_fast

block content
    .second
        .second__in
            .second__text(data-text="We are the leader on the US, Japanese and European e-commerce markets doing perfectly three main JOBS for our clients") We are the leader on the US, Japanese and European e-commerce markets doing perfectly three main JOBS for our clients
            //- .second__name Тут пока ничего нет