extends ../../components/section/section_fast

block content
    .first
        .first__in
            .first__name
                .first__name--title(data-text="Assistant and provider of financial protection in high-risk eCOM Universe") Assistant and provider of financial protection in high-risk eCOM Universe
                .first__name--text(data-text="Full-cycle outsourcing: we find whatever you want and deliver wherever you need. Quality and Safety guaranteed") Full-cycle outsourcing: we find whatever you want and deliver wherever you need. Quality and Safety guaranteed
            .first__shield
                .first__text
                    .first__text-in(data-item-id="1" class="isActive") Full-cycle outsourcing: we find whatever you want and deliver wherever you need. Quality and Safety guaranteed
                    .first__text-in(data-item-id="2") financial safeguarding
                    .first__text-in(data-item-id="3") 8,470,000 parcels delivered
                    .first__text-in(data-item-id="4") 1,290 various products manufactured under OEM-contracts
                    .first__text-in(data-item-id="5") law-friendly trade guidance
                    .first__text-in(data-item-id="6") 43 loyal partnerships maintained for the past 9 years
            .first__placeholder