extends ../../components/section/section

block content
    .fiveth
        .fiveth__in
            .fiveth__shield(data-text="Job we do #2<br /><br /> Bring clients more profit from each shipped order")
                .fiveth__shield-in Job we do #2<br /><br /> Bring clients more profit from each shipped order