extends ../../components/section/section

block content
    .third
        .third__in
            .third__shield(data-text="Job we do #1<br /> <br /> Ensure clients comfortable business and save their time on orders")
                .third__shield-in Job we do #1<br /> <br /> Ensure clients comfortable business and save their time on orders