extends ../../components/section/section_fast

block content
    .sixth
        .sixth__in
            .sixth__text(data-text="How we do it<br /><br />Our reputation and market share help us to get the best rates on the market and provide clients with the best deals") How we do it<br /><br />Our reputation and market share help us to get the best rates on the market and provide clients with the best deals